*{
	margin:0;
	padding: 0
}
body{
	font-size: 16px;
	font-family: tahoma
}
.container{
	margin: 40px auto;
	width: 50%;
	padding: 20px;
	background: #ccc;
	border: 1px solid #444;
	overflow: auto;

}
.container h1{
	text-align: center;
}
.container li{
	list-style: none;
	padding: 5px
}
.container input[type="text"]{
	width: 45%;
	padding: 12px;
	margin: 10px auto
}
.upear{
		background: #fff;
		height: 400px;
        overflow: auto;
}
.error{
	color: red;
	padding: 5px
}
.upear span{
	color: #999
}
.submitt{
	width: 100%;
	padding: 10px
}
@media (max-width: 767px){
	.container{
	margin: 40px auto;
	width: 90%;
	padding: 10px;
	background: #ccc;
	border: 1px solid #444
   }
   .container input[type="text"]{
	width: 92%;
	padding: 10px;
   }
   .submitt{
	width: 100%;
	padding: 10px
   }
}